@page
@model WebRazor.Pages.Linhas.LinhasModel
@{
    ViewData["Title"] = "Linhas";
}

<div class="container linhas">
    <h1>Linhas</h1>

    <form method="post">

        <div class="form-group">
            <input asp-for="busca" type="text" class="form-control" placeholder="Pesquisar">
        </div>
        <div class="form-group">
            <button asp-page-handler="Buscar" type="submit" class="btn btn-custom">Buscar</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Linha</th>
                    <th>Descrição</th>
                    <th>Tarifa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var line in Model.linhas)
                {
                    <tr>
                        <td>@line.Number</td>
                        <td>@line.Description</td>
                        <td>@line.Ticket.Price.ToString("C")</td>
                        <td>
                            <a class="btn btn-primary" asp-page="Edit" asp-route-id="@line.ID">Editar</a>
                            @*<button class="btn btn-danger" type="submit" asp-page-handler="delete" asp-route-id="@line.ID">Deletar</button>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button id="mostrarTudo" type="button" class="btn btn-secondary">Mostrar Tudo</button>
        <a class="btn btn-success" asp-page="Create">Adicionar</a>
    </form>
</div>

<script>
    $("#mostrarTudo").click(function () {
        $.ajax({
            url: "http://localhost:5000/api/Linhas/GetLines",
            type: 'get',
            dataType: "json",
            success: function (lines) {
                //$("#Cidades").append('<option value="">(cidade)</option>')
                $.each(lines, function (i, line) {
                    $("#tableBody").empty;
                    $("#tableBody").append('<tr><td>' + line.number + '</td><td>' + line.description + '</td><td>' + line.price.toLocaleString("pt-BR", { style: "currency" , currency:"BRL"}) + '</td><td><a class="btn btn-primary" href="/Linhas/Edit/' + line.id + '">Editar</a></td></tr>');
                })
            },
            error: function (ex) {
                alert('Ops, erro ao carregar as Linhas. ' + ex);
            }
        });

        return false;
    });
</script>